/* Set a background image by replacing the URL below */
body {
    background: url('coffee_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

html,
body {
    height: 100%;
}
.li-image:hover{
    background-color: dimgrey;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
